h1{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
}
.box{
    background-color: grey;
    border: 1px solid black;
    margin-top: 20px; 
    margin-right: 20px; 
    padding: 3px;
    position: relative;
} 
.Description{
    padding-top: 20px;
    padding-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    position: relative;
}
.container{
    width: 100%;
}
.small-box{
    font-size: 22px;
    border: 1px solid black;
    position: absolute;
    font-weight:bolder;
    text-align: center;
    width: 175px;
    float: right;
    top :0;
    right: 0;
    margin-top: 0;
}
#Section1{
    background-color: pink;
}
#Section2{
    background-color: red;
}
#Section3{
    background-color: yellow;
}
.Text-Box{
    float: left;
}
@media (min-width: 992px) {
    .Desktop{
        width: 33.33%;
        float: left;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .Tablet-Top{
        width: 50%;
        float: left;
    }
    .Tablet-Bottom{
        width: 100%;
        float: left;
    }
}
@media (max-width: 767px)  {
    .Mobile{
        width: 100%;
        float: left;
    }
}